body { background-color: #FFFFFF; 
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    }
header { background-color: #aa7513; 
    color: #FFFFFF;
    font-family: Georgia, sans-serif; }
h1 { line-height: 200%;}
nav { font-weight: bold; background-color: #f5ddc2;}
h2 { color: #aa7513; font-family: Georgia, sans-serif; text-align: center; }
.shrewlinks { color: #000000; font-size: 1em; }
h4 { color: #aa7513; font-family: Georgia, sans-serif; text-align: left; }
.shrewlinks { color: #000000; font-size: 1em; }
dt {font-weight: bold; color: #002171;}
footer { font-size: .70em; font-style: italic; text-align: left; }
#wrapper { width: 80%; margin-right: auto; margin-left: auto;}
#shrewhero {background-image: url(shrew.png);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;}
#helphero {background-image: url(shrew1.png);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;}
#vidhero {background-image: url(shrew3.png);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;}
#refhero {background-image: url(shrew2.png);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;}
#typeshero {background-image: url(shrew4.png);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;}
#thankhero 
#facthero {background-image: url(shrew5.png);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;}
#mobile { display: inline; }
#desktop {display: none;}
    table { margin: auto;
        border: 1px solid #aa7513;
        width: 90%; 
        border-collapse: collapse;
}
td th { padding: 5px; border: 1px solid #f5ddc2 }
td {text-align: center; }
.text {text-align: left;}
.text2 {text-align: right;}
tr:nth-of-type(even) { background-color: #f5ddc2; }
form { display: flex; 
         flex-direction: column;
         padding-left: 1em; 
         width: 80%; }